body {
    font-size: 11px;
    line-height: 1.4;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 12px;
}

h5 {
    font-size: 11px;
}

h6 {
    font-size: 11px;
}

dl dt{
    font-size: 11px;
}

.highlight pre,
pre {
    font-size: 11px;
}